@import url(reset.css); 


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.content{
    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;   
}

.eclat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#27b97a 54% 57%,#0000 59%) 0 calc(120px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#27b97a 54% 57%,#0000 59%) calc(120px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#27b97a 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#27b97a 54% 57%,#0000 59%),
      #ffffff;
    background-size: calc(120px/4.667) 120px,120px calc(120px/4.667);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.logo{
    width: 10rem;
}

header h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #27B97A;
}

.section {
    display: flex;
    text-align: center;
    padding: 2rem 0;
}

.section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #27B97A;
    text-transform: uppercase;
}

.products{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 32rem;
    margin-bottom: 50px;
    background: rgba(216, 216, 216, 0.6);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: transform 2s ease;
}

.product:hover{
    transform:  scale(1.05);
}

.product img {
    display: flex;    
    width: 20rem;
    object-fit: contain;
    height: 20rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.product h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.product p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #666;
    width: 18rem;
}

.price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #27B97A;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #252524;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #a93226;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 50px 0;
    text-align: center;
}


.content-footer{
    display: flex;
}
.logo{
    width: 10rem;
    object-fit: contain;
    height: 10rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    text-align: left;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.title-itens{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
}
.item-footer{
    text-transform: uppercase;
    font-size: .8rem;
}

.social-link{
    display: flex;
    gap: .6rem;
    text-decoration: none;
    color:#27B97A;
}

.social-logo{
    width: 1.2rem;
}