@import url(reset.css); 


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    background-image: url('src/img/bg/diamond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content{
    background-color: rgba(0, 0, 0, 0.4);
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;   
}

.eclat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.logo{
    width: 10rem;
}

header h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #27B97A;
}

.section {
    padding: 80px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #27B97A;
}

.products{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.product {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 22rem;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: transform 2s ease;
}

.product:hover{
    transform:  scale(1.05);
}

.product img {
    max-width: 20rem;
    height: auto;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.product h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #000;
}

.product p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #666;
    width: 18rem;
}

.price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #27B97A;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #27B97A;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #a93226;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #27B97A;
    background-color: #fff;
    color: #000;
}

.contact-form button {
    background-color: #27B97A;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #a93226;
}